a{
    font-size: 25px;
}

body{
    font-size: 25px;
}

div p{
    color: blue;
}

div+p{
    color: orange;
}
/*esta es solo una prueba de coursera eliminar todo lo que antecede*/
/*el visual estudio code ultimamente esta fregado no me ayuda como antes*/